
.App {
  /* background-color: white;
  background-image: -webkit-linear-gradient(80deg, white 50%, rgb(235, 235, 242) 50%);
  height: 100vh; */
  /* text-align: center; */
}

.sign-in{
  border-radius: 5px;
  background-color: white;
  margin: auto auto;
  margin-top: 50px;
  width: 350px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h3{
  margin-top: 2px;
}
label{
  color: #333333;
font-size: 14px;
font-weight: 500;
}


input{
 
  /* display: inline-block; */
  Width:100%;
Height:40px;

  border: 1px solid #DEDEDE;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 1rem;

}
button{
  margin-top: 1rem;
  Width:100%;
Height:40px;
border-radius: 4px;
background: linear-gradient(180deg, #625BF7 0%, #463EEA 100%);
border: none;
color: white;
font-size: 16px;
font-weight: 600;

}

.loggedin{
  text-align: center;
    margin:10rem;
    border: 2px solid green;
}